//region REUSABLE STRUCTURES
.DirViewer_menuBut {
  position:absolute;
  right:-10px;
  top:-10px;
  z-index: 1;

  width:20px;
  height:20px;
  background-color: #b9b9d0;
  color:white;
  border-radius: 50%;
  cursor: pointer;

  display: none;
  align-items: center;
  justify-content: center;
}
//endregion


.DirViewer_subDir {
  padding:8px;
  background-color:orange;
  color:white;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;

  position:relative;

  &:hover .DirViewer_menuBut { display: flex; }
}

.DirViewer_symbolsDiv {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-left: 8px;
}


.DirViewer_sym {
  padding:8px;
  background-color:cornflowerblue;
  color:white;
  border-radius: 5px;
  margin-right: 8px;
  position:relative;

  &:hover .DirViewer_menuBut { display: flex; }
}

.DirViewer_dirTitle {
  margin: 0 16px;
  font-size: 22px;
  background-color: #f33f3f;
  color: white;
  padding: 4px 16px;
  border-radius: 8px;
}


/*region STATEMENT*/
.DirViewer_stmtDiv {
  padding:8px;
  background-color: #2fbdc3;
  color:gray;
  border-radius: 5px;
  margin: 8px 12px 0 0;
  position:relative;

  &:hover .DirViewer_menuBut { display: flex; }
}

.DirViewer_stmtName {
  font-size: 12px;
  color:White;
}
/*endregion*/