.TheoremCreator_root {
  display: flex;
  border: solid 2px #ad6c1b;
  border-radius: 8px;
}

.TheoremCreator_main {
  flex:1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 8px 16px;
  background-color: #2556c530;
  overflow: auto;

  > * { flex-shrink: 0; }
}

.TheoremCreator_tempAsBase {
  color:green;
  cursor: pointer;
  margin-right: 16px;
}