.SignInForm_root {
    display:flex;
    flex-direction: column;
    max-width: 300px;
    padding: 12px;

    border-radius: 10px;
    border: solid 1px #f90a4c;
    box-shadow: #f90a4c5e 3px 4px 9px 0;
}

.SignInForm_title {
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: 5px;
}

.SignInForm_inp {
    margin-bottom:8px;
}

.SignInForm_hasAccount {
    align-self: flex-end;
    cursor: pointer;
    margin-top:8px;
}

.SignInForm_errorMes {
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
    color: #ff2929;
}