.Statement_root {
  display: flex;
  align-items: flex-end;
}

.Statement_sym {
  padding: 0 2px;
  color:black;

  &.Statement_matched {
    color: #5cbdb4;
    font-weight: bold;
  }

  &.Statement_selected {
    background-color: #5cbdb4;
    color:white;
    font-weight: bold;
  }
}

.Statement_conn {
  display: flex;
  flex-direction: column;
  align-items: center;

  color:gray;
  font-weight: bold;
  margin-top: 10px;
}

.Statement_grade {
  color: #ff6266;
  line-height: 0;
  font-size: 14px;
}

.Statement_dirArrow {
  color: #ff6266;
  font-weight: bold;
  white-space: nowrap;
}