.Statement_root {
  display: flex;
  align-items: flex-end;
}

.Statement_sym {
  margin: 0 4px;
  color:black;

  &.Statement_matched {
    color:#495d49;
    font-weight: bold;
  }

  &.Statement_selected {
    color:#2dc32d;
    font-weight: bold;
    text-decoration: underline;
  }
}

.Statement_conn {
  display: flex;
  flex-direction: column;
  align-items: center;

  color:gray;
  font-weight: bold;
  margin-top: 10px;
}

.Statement_grade {
  color: #ff6266;
  line-height: 0;
  font-size: 14px;
}

.Statement_dirArrow {
  color: #ff6266;
  font-weight: bold;
}