.DirViewerGroup_root {
  display: flex;
  flex-direction: column;
}

.DirViewerGroup_tabDiv {
  border-bottom: solid 1px black;
}

.DirViewerGroup_tab {
  padding:8px 12px;
  background-color: #393b48;
  color:white;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.DirViewerGroup_selectedTab {
  background-color: white;
  color:black;
}

.DirViewerGroup_addTab {
  padding:8px 12px;
  background-color: #393b48;
  color:white;
  cursor: pointer;
  border-top-right-radius: 12px;
  position: relative;
  top: 1px;
}

.DirViewerGroup_main {
  flex:1;
  overflow: auto;
}