.AboutPage_root {
    max-width: 780px;
    margin: auto;
    padding: 40px;
    background: #fcffec;
    border: solid 3px #ffdd7b;
}


/*region CHAPTER STRUCTURE*/
.AboutPage_chapterTitle {
    font-size:32px;
    font-weight: bold;
}

.AboutPage_subChapterTitle {
    margin-top: 60px;
    font-size:24px;
    font-weight: bold;
}

.AboutPage_chapterContent {
    padding-left: 20px;
    line-height: 22px;
}

.AboutPage_chapterSeparator {
    border: 3px #1c0e90 dashed;
    margin: 80px 0;
}
/*endregion*/




/*region TEXT BOXES*/
.AboutPage_definition {
    display: inline-block;

    padding:10px;
    border-radius: 8px;
    background: #f17aff;
}

.AboutPage_definitionTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.AboutPage_infoBox {
    display: inline-block;

    padding:10px;
    border-radius: 8px;
    background: #4cdeff;
    margin: 10px;
}

.AboutPage_rulesBox {
    padding:8px 16px;
    background-color: #ffd7d7;
}

.AboutPage_warningBox {
    display: inline-block;

    padding:10px;
    border-radius: 8px;
    background: #ff8e1b;
    margin: 10px;
}
/*endregion*/


/*region STATEMENT ELEMENTS*/
.AboutPage_symbol {
    background: #1F61A0;
    color: white;
    padding:5px 11px;
    border-radius: 5px;
    text-align: center;
}

.AboutPage_conn {
    background: #a05993;
    color: white;
    padding:5px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}

.AboutPage_selected {
    color:#f5f106;
    font-weight:bold;
}

.AboutPage_selected2 {
    color: #f55809;
    font-weight:bold;
}

.AboutPage_replaced {
    color:#27f506;
    font-weight:bold;
}
/*endregion*/