.ProofStepsViewer_root {
  padding:8px 16px;

  display: flex;
  flex-direction: column;
}

.ProofStepsViewer_main {
  flex-grow: 1;
  overflow: auto;
}

.ProofStepsViewer_move {
  color:gray;
  cursor: pointer;

  &.ProofStepsViewer_selected {
    color:red;
  }
}