.AxiomCreator_root {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid 2px #39ad82;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #2556c530;
}

.AxiomCreator_sen {
  min-height: 32px;
  background-color: white;
  padding: 0 4px;
  border-radius: 8px;
  border: solid 1px gray;
  min-width: 100px;
  cursor: text;
}

.AxiomCreator_sym {
  padding: 4px 8px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.AxiomCreator_cursor {
  width:2px;
  height:18px;
  background-color: #1c0e90;
}

.AxiomCreator_midDiv {
  width:10px;
  height:24px;
  display: flex;
  align-items: center;
  justify-content: center;
}