

/*region SAVED SYMBOL LIST*/
.SymbolCreator_savedSymbol {
    padding:8px;
    border-radius: 8px;
    background-color: #0B7FC7;
    margin-left: 4px;
    color: white;
}
.SymbolCreator_savedSymbolWrapper {

}
/*endregion*/
